@{ 
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="Communitea">
<head>
    <title></title>
    @Styles.Render("~/Content/css")


    <base href="/" />
</head>
<body>
    
    <div ng-view></div>
</body>
@Scripts.Render("~/bundles/coreJS",
                "~/bundles/JS")
</html>