.blog-container {
    max-width: 1200px;
    overflow:hidden;
    margin:auto;
}

.blog-header {
    font-size: 30px;
    text-align: center;
}

.blog-text {
    font-size: 18px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.blog-quote {
    display:block;
    margin:auto;
    float:none;
}

.blog-quote {
    font-size: 25px;
    text-align: center;

}

.blog-quote > div {
    margin: 30px 0px;
}