<div class="col4"></div>
<div class="col4">
    <form id="blog-text-area">
        <input type="text" ng-model="title"/>
        <textarea class="col12" ng-scope-element="blogContent"></textarea>

    </form>
    <div class="col12 center-align">
        Preview
    </div>
    <div class="col12" ng-scope-element="blogPreview">

    </div>
</div>
<div class="col4  center-align">
    <button class="col9" ng-click="newParagraph()">Add Paragraph</button>
    <button class="col9">Button</button>
    <button class="col9">Button</button>
</div>
